.Button{
    background-color: #5AFF6B;
    padding: 1rem 2rem;
    color:#fff;
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.5s ease;
    box-sizing: border-box;
    border:1px #5AFF6B solid;
    z-index: 10;
}

.Button:hover{
    background-color: #fff;
    color: #5AFF6B;
}