.Dice{
    width: 10vh;
    height: 10vh;
    margin:1rem;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.Dice:hover{  
    background-color: #919191;
}

.DiceSelected{
    background-color: #cccccc;
}