.Dice{
    width: 13vh;
    height: 13vh;
    margin:1rem;
    background-color: #cacaca;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.Dice:hover{  
    background-color: #919191;
}

.DiceSelected{
    background-color: #979797;
}